@model CombinedViewModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor

@{
    Layout = "_Layout";
    ViewBag.SecondaryNav = true;
    ViewBag.Title = "Service History";
    var loggedUser = httpContextAccessor.HttpContext.Session.Get<User>("User");
    if (loggedUser == null) loggedUser = new User();
    var flag = (loggedUser.DateOfBirth != null);
    if(loggedUser.DateOfBirth == null) loggedUser.DateOfBirth = new DateTime();
    var allRequests = Model.serviceRequests.Requests;
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/star-rating.css" />
}

<section class="logged-user-container">
    <h1>Welcome, <span>@loggedUser.FirstName!</span></h1>
</section>

<section class="dashboard-section">
    <div class="container-fluid d-lg-flex">
        @Html.Partial("_LeftNavigation", new { ActiveTab = 5 })

        <div class="right-side-wrapper flex-grow-1">
            <div class="alert alert-success alert-dismissible fade d-none" role="alert">
                <span class="alert-msg"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="alert alert-danger alert-dismissible fade d-none" role="alert">
                <span class="alert-msg"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <table class="table" id="requestsTable">
                <thead>
                    <tr>
                        <th><a href="#" title="Service Id">Service Id <img src="~/assets/sort.png"
                                    alt="Sort"></a></th>
                        <th><a href="#" title="Service date">Service date <img src="~/assets/sort.png"
                                    alt="Sort"></a></th>
                        <th><a href="#" title="Customer Details">Customer Details <img src="~/assets/sort.png"
                                    alt="Sort"></a></th>
                    </tr>
                </thead>

                <tbody>               
                    @for(var i=0;i<allRequests.Count;i++)
                    {
                        <tr data-toggle="modal" data-target="#requestModal" id="request_@i">
                            <td>@allRequests[i].ServiceId.ToString()</td>

                            <td>
                                <div class="table-cell-content">
                                    <div class="table-cell-info-container make-bold">
                                        <img src="~/assets/calendar2.png"> @allRequests[i].ServiceDate
                                    </div>
                                    <div class="table-cell-info-container">
                                        <img src="~/assets/clock.png">
                                        <span>
                                            @allRequests[i].ServiceStartTime -
                                            @allRequests[i].ServiceEndTime
                                        </span>
                                    </div>
                                </div>
                            </td>

                            <td>
                                <div class="table-cell-content">
                                    <div>@allRequests[i].CustomerName</div>
                                    <div>
                                        <img src="~/assets/home1.png"> @allRequests[i].ServiceAddress
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="requestModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg service-request-modal" role="document">
            <div class="modal-content">
                <div class="modal-body p-25">
                    <div class="login-modal-header modal-title">
                        Service Details
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><img src="~/assets/close.png" alt="Close" /></span>
                        </button>
                    </div>
                        
                    <div class="request-details">
                        <div class="date-time-wrapper"><span id="requestDate"></span> <span id="requestTime"></span></div>
                        <div><span><b>Duration: </b></span><span id="requestDuration"></span></div>

                        <hr />

                        <div><b>Service Id: </b><span id="requestServiceId"></span></div>
                        <div><b>Extras: </b><span id="requestExtras"></span></div>
                        <div><b>Total Payment: </b><span id="requestAmount" class="service-payment"></span></div>

                        <hr />

                        <div><b>Customer Name: </b><span id="requestCustomerName"></span></div>
                        <div><b>Service Address: </b><span id="requestAddress"></span></div>
                        <div><b>Distance: </b><span id="requestDistance"></span></div>

                        <hr />

                        <div class="comments-wrapper">
                            <p><b>Comments</b></p>
                            <div id="requestComments"></div>
                            <div id="requestPetInfo"></div>
                        </div>

                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

@section Scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>

    <script>
        $(document).ready(function() {
            let commonFilter = {
                exportOptions: {
                    columns: "thead th:not(.do-not-export)",
                    format: {
                        body: function(data, row, column, node) {
                            let textData = node.innerText;
                            if(column===1) {
                                return textData.substr(0, 11);
                            }
                            if(column===2) {
                                return textData.length===0 ? "" : textData.split('\n').join(' | '); 
                            }
                            return textData;
                        }
                    }
                }
            };

            var dataTable = $("#requestsTable").DataTable({
                searching: false,
                "bInfo" : false,
                dom: '<"float-right"B>t<"text-left"<"text-left"l><"text-left"i>><"text-right"p>',
                language: {
                    paginate: {
                        first:'<img src="/assets/first-page.png" alt="First Page">',
                        previous: '<img src="/assets/previous.png" alt="Previous Page">' ,
                        next: '<img src="/assets/previous.png" alt="Next Page" class="rotate-180">',
                        last: '<img src="/assets/first-page.png" alt="Last Page" class="rotate-180"></a>'
                    }
                },
                buttons: [
                    $.extend(true, {}, commonFilter, {
                        extend: 'excel',
                        text: 'Export',
                        className: 'float-right btn rounded-pill secondary-blue-btn text-white mb-3',
                    }),
                ],
                pagingType: "full_numbers",
                order: [[ 0, "desc" ]],
            });

            $('.dataTables_length select').removeClass('custom-select custom-select-sm form-control-sm');
            $('.dt-buttons button').removeClass('dt-button buttons-excel buttons-html5');
            $('.dataTables_length label').append(' Total Record : ' + @allRequests.Count);
            $('.dataTables_wrapper').prepend(`
                                                <div class="right-side-header float-left">
                                                    <label>
                                                        Payment Status
                                                    </label>
                                                    <select class="form-control w-auto">
                                                        <option value="All" selected>All</option>
                                                        <option value="Settled">Settled</option>
                                                        <option value="Unsettled">Unsettled</option>
                                                        <option value="Not Applicable">Not Applicable</option>
                                                    </select>
                                                </div>
                                            `);
            
            let allRequestsObj = JSON.parse('@Html.Raw(Json.Serialize(allRequests))');
            $('#requestsTable tbody tr').on('click', function() {
                let id = parseInt($(this)[0].id.split('_').pop());
                $('#requestDate').text(allRequestsObj[id].serviceDate);
                $('#requestTime').text(allRequestsObj[id].serviceStartTime + " - " + allRequestsObj[id].serviceEndTime);
                $('#requestDuration').text(allRequestsObj[id].duration + " Hrs");
                $('#requestServiceId').text(allRequestsObj[id].serviceId);
                $('#requestExtras').text(allRequestsObj[id].extraServices);
                $('#requestAmount').text('$' + allRequestsObj[id].totalAmount);
                $('#requestCustomerName').text(allRequestsObj[id].customerName);
                $('#requestAddress').text(allRequestsObj[id].serviceAddress);
                $('#requestDistance').text(allRequestsObj[id].distance + " km");
                $('#requestComments').text(allRequestsObj[id].comments==null ? "" : allRequestsObj[id].comments);
                let pets = allRequestsObj[id].hasPets;
                if(pets == true) {
                    $('#requestPetInfo').html('<img src="/assets/success.png" alt="" /> I have pets at home');
                } else {
                    $('#requestPetInfo').html('<img src="/assets/not-included.png" alt="" /> I don\'t have pets at home');
                }
            });
       });
    </script>
}